/**
 * @name Adwaita
 * @description Adwaita theme for BetterDiscord.
 * @author kusaida
 * @version 0.1.0
 * @source https://github.com/kusaida/adwaita-discord
 * @website https://github.com/kusaida/adwaita-discord
 */

/* import theme */
@import url(' https://kusaida.github.io/adwaita-discord/build/adwaita.css');
 
:root  {
    /* Window controls */
  /* on/off - flex/none */
  --titlebar-close-button: flex;
  --titlebar-maximize-button: none;
  --titlebar-minimize-button: none;
  /* also set this to how much buttons are visible */
  --titlebar-buttons-count: 1;
    
    /* Accent color */
    --accent: var(--blue);
  /* blue	teal green 
      yellow orange red 
        pink purple	slate in place of blue
          or your custom one in place of var() */
}
