.circleIconButton__5bc7e {
  --icon-button-size: var(--guildbar-avatar-size) !important;
  background-color: transparent !important;
  transition: var(--button_transition) !important;
  border: none !important;
  border-radius: 50% !important;
  padding: 0 !important;
  position: relative !important;
  width: var(--icon-button-size) !important;
  height: var(--icon-button-size) !important;
  color: inherit !important;
}
.circleIconButton__5bc7e[data-list-item-id=guildsnav___create-join-button] {
  --icon: var(--plus-icon) !important;
}
.circleIconButton__5bc7e[data-list-item-id=guildsnav___guild-discover-button] {
  --icon: var(--system-search-icon) !important;
}

.guilds__5e434 {
  mask: none !important;
  margin: 0 !important;
}

.guildSeparator__252b6 {
    background-color: var(--border-subtle);
    width: 55px;
}

.listItemWrapper__91816 {
  transform: none !important;
}

.scroller_ef3116 {
  padding-top: var(--space-md) !important;
}

.tree_ef3116 {
  background: var(--background-gradient-app-frame, var(--sidebar_bg_color)) !important;
  border-right: 1px solid var(--sidebar_border_color) !important;
}

.wrapper__6e9f8 {
  border-radius: 50% !important;
  transition: var(--backdrop_transition) !important;
}
.wrapper__6e9f8[aria-selected=true] {
  border-radius: 25% !important;
}
.wrapper__6e9f8 .childWrapper__6e9f8 {
  background-color: color-mix(in srgb, currentColor 10%, transparent) !important;
  transition: var(--button_transition) !important;
  color: inherit !important;
  border-radius: inherit !important;
}
.wrapper__6e9f8 img {
  border-radius: inherit !important;
}

.wrapper__6e9f8:hover {
    border-radius: var(--button_radius) !important;
}
