.reactionTooltip_bbcccb {
  backdrop-filter: blur(3px) !important;
  background-color: rgba(0, 0, 0, 0.8) !important;
  color: white !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  border-radius: 9px !important;
  box-shadow: none !important;
  padding: 6px 10px !important;
}
.reactionTooltip_bbcccb .reactionTooltipText_bbcccb {
  color: inherit !important;
  font: inherit !important;
}

.tooltip_fa450d {
  backdrop-filter: blur(3px) !important;
  background-color: rgba(0, 0, 0, 0.8) !important;
  color: white !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  border-radius: 9px !important;
  box-shadow: none !important;
  padding: 6px 10px !important;
}
.tooltip_fa450d * {
  color: inherit !important;
}
.tooltip_fa450d .caret__0b5f9 {
  display: none !important;
}
